<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SystemJS for dynamic imports -->
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.14.1/dist/system.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="importmap-type" content="systemjs-importmap" />

    <script id="mfe-configs-json" type="application/json">
      <%= JSON.stringify(mfeConfigs) %>
    </script>

    <script type="systemjs-importmap">
      {
        "imports": {
          "sp-react-mfe": "http://localhost:8080/sp-react-mfe.js",
          "vite-react-mfe": "http://localhost:3001/dist/spa.js"
        }
      }
    </script>
  </head>
  <body>
    <template id="single-spa-layout" style="display: none">
      <single-spa-router>
        <main>
          <route path="/webpack">
            <application name="sp-react-mfe"></application>
          </route>

          <route path="/vite">
            <application name="vite-react-mfe"></application>
          </route>
        </main>
      </single-spa-router>
    </template>
    <script src="/sp-main.js"></script>
  </body>
</html>
